p {
  font-size: 67%;
}

.item-1 {
  width: 60px;
}

.item-2 {
  width: 140px;
}

.item-3 {
  width: 220px;
}

.item-4 {
  width: 300px;
}

.item-5 {
  width: 380px;
}

.item-6 {
  width: 460px;
}

.item-7 {
  width: 540px;
}

.item-8 {
  width: 620px;
}

.item-9 {
  width: 700px;
}

.item-10 {
  width: 780px;
}

.item-11 {
  width: 860px;
}

.item-12 {
  width: 940px;
}
